#Below are all the imputs that will be needed for the engine

[DIRECTORIES]
HOME_DIR=../
RESOURCE_DIR=../resources
OUTPUT_DIR=../output
LOG_DIR=../log

[CRAWLER_INPUTS]
CRAWLER_SWITCH=1
SITE_INFO_FILE=Input_Sites.csv
KEYWORD_FILE=Keyword.csv
SITE_PICKLE_DUMP_FILE=SiteTimestampInfo.p
CRAWLER_OUTPUT=Crawler_Output.csv
KEY_WORD_FILTERING_SWITCH=0
ARTICLE_STORY_PULL=False

[LOGGING_INPUTS]
LEVEL_NAME=info
LOG_FILE=log.txt

[CLASSIFIER_INPUTS]
CLASSIFIER_SWITCH=0
RISK_CLASSIFIER_MODEL_FILE=RiskClassifierModel.p
TOPIC_CLASSIFIER_MODEL_FILE=TopicClassifierModel.p
TRAINING_FILE_PATH=TrainingData.csv
LABEL_COL_NAME_RISK_CLASSIFIER=Risky
TEXT_FIELDS_RISK_CLASSIFIER=Title
TEXT_FIELDS_TOPIC_CLASSIFIER=Title
LABEL_COL_NAME_TOPIC_CLASSIFIER=rt
LABEL_COL_NAME_SUB_TOPIC_CLASSIFIER=rst
IS_PARAM_TUNE=False
IS_REMOVE_SKEWNESS=False
RISK_CLASSIFIER_RATIO_REMOVE_SKEWNESS=1
CLASSIFIER_OUTPUT=Classifier_Output.csv
